body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(underwater-scene-1.jpg);
    background-size: cover;
    height: 100vh;
}

.container1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 196);
    flex-wrap: wrap;
    align-items: center;
    color: white;
    padding: 20px;
}

table, th, td {
  border:1px solid black;
  background-color: rgb(27, 43, 148);
}

p {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}